<div class="container mt-6">
  <p-messages [(value)]="classfierData"></p-messages>
  <div class="flex align-items-center justify-content-center">
    <div>
      <app-labelvote (changeEvent)="onChangeLabelvote($event)"></app-labelvote>
    </div>
    <p-divider layout="vertical">
      <i class="pi pi-arrow-right" style="font-size: 1.1rem"></i>
    </p-divider>
    <div>
      <app-featurize (changeEvent)="onChangeFuturize($event)"></app-featurize>
    </div>
    <p-divider layout="vertical">
      <i class="pi pi-arrow-right" style="font-size: 1.1rem"></i>
    </p-divider>
    <div>
      <app-classifier (changeEvent)="onChangeClassifier($event)"></app-classifier>
    </div>

  </div>
  <div class="float-end mb-4">
    <p-button label="Save" class="" icon="pi pi-check" (onClick)="saveModel()"></p-button>
  </div>
</div>
<p-messages [(value)]="errorMessage"></p-messages>
<p-toast position="bottom-center" key="bc"></p-toast>


