<div>

  <div class="float-end">

    <button pButton class="p-button-help p-button-text  mt-4 mr-4" (click)="showDialog()">
      <img alt="logo" src="assets/images/user-guide-purple.png" style="width: 3.5rem" />
    </button>
  </div>

  <p-dialog header="Tutorial: Create Labelfunctions" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <p-tabView>
      <p-tabPanel header="What is a labelfunction ?">
        <div class="flex">
          <div>
            <img class="labelfunction-w fadein labelfunction" src="assets/images/tutorial/Labelfunktion-0.png" >
          </div>
          <div>
          <p>
            Label functions are used to annotate data. There are different ways to programmatically
            record expert knowledge. Some possibilities are heuristics, sentiment analysis
            or pattern matching. Label functions receive a data point and assign a label
            to it based on the programmed logic. Each function must have a return value,
            which is either a label or an abstention. A function can also abstain from a data point,
            this is indicated by the return value -1. Different label functions can also conflict with
            each other.

            A typical procedure for creating a label function looks like this.

          </p>
          <ol>
            <li>Write a label function and save it.</li>
            <li>Look at the values of the analysis.</li>
            <li>View individual data points and their assigned label</li>
            <li>Test whether changes have a better performance</li>
          </ol>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="How do you evaluate the label function??">
        <div class="grid">
          <div class="col-12">
            <img class="analysis-w fadein labelfunction" src="assets/images/tutorial/analysis.png" >
          </div>
          <div class="col-4">
            <p>
              The label function is applied to two different parts of the data set,
              the non-annotated part and the part used to analyse the label functions.

              After successful application, you will receive a table with some analysis values:
            </p>
          </div>
          <div class="col-4">
            <ul>
              <li>Polarity: Number of unique labels that were returned (Abstain is not counted)</li>
              <li>Coverage: Fraction to which a label (not abstain) is assigned</li>
              <li>Overlaps: Fraction in which this and at least one other function is labelled</li>
              <li>Conflicts: Fraction where this and at least one other function do not match</li>
            </ul>
          </div>

          <div class="col-4">
            <p>
              These values are only used for the data set for the analysis,
              as the correct labels are available here:
            </p>

            <ul>
              <li>Correct: The number of data points in which is correctly labelled</li>
              <li>Incorrect: The number of data points incorrectly labelled</li>
              <li>Empirical accuracy: Fraction correctly labelled.</li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="How to create a labelfunction ?">
        <div>
          <div class="flex justify-content-center">

            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'width': '50em' }" [numVisible]="5">
              <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 90%;" />
              </ng-template>
              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.thumbnailImageSrc" style="width: 90%;" />
                </div>
              </ng-template>
            </p-galleria>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Further resources and documentation !">
        <div>
          <ul class="link-color">
            <li>
              <a href="https://www.snorkel.org/use-cases/01-spam-tutorial" target="_blank">Tutorial: Writing Labelfunctions on a Spam-Dataset</a>
            </li>
            <li>
              <a href="https://snorkel.readthedocs.io/en/v0.9.7/index.html" target="_blank">Documentation: Snorkel'S API</a>
            </li>
            <li>
              <a href="https://textblob.readthedocs.io/en/dev/" target="_blank">Documentation: TextBlob</a>
            </li>
            <li>
              <a href="https://www.nltk.org/index.html" target="_blank">Documentation: Natural Language Toolkit</a>
            </li>
          </ul>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-dialog>

</div>


