

<div class="container">

  <p-sidebar [(visible)]="sidebarVisible" position="right">
    <h3>Additional information</h3>
    <div class="mt-4">
      <h5>Problemdescription & Annotationschema</h5>
      <p class="break-spaces mt-2">{{description}}</p>
    </div>
    <div class="mt-4">
      <h5>Installed Packages</h5>
      <ul *ngFor="let modul of packages">
        <li>{{modul}}</li>
      </ul>
    </div>
  </p-sidebar>

  <div class="flex flex-column gap-2">
    <label for="name">Name of the function</label>
    <input pInputText id="name" aria-describedby="username-help" [(ngModel)]="functionName" />
    <small class="text-red-600" id="name-help">Make sure that the name of the function equals the name in the code</small>
  </div>

  <h2 class="mt-4 mb-4">Python-Editor</h2>
  <div class="grid">
    <div class="col-6">
      <div class="w-38" #imports></div>
    </div>
    <div class="col-6" >
      <button pButton label="Save Import" class="p-button-success mt-4 mr-4" (click)="saveImport()"></button>
      <button pButton class="p-button-success" (click)="sidebarVisible = true" icon="pi pi-arrow-left"></button>
    </div>
  </div>

  <br>
  <p-messages [(value)]="errorMessage"></p-messages>
  <div *ngIf="isTested">
    <p><b>Coverage</b>: {{test_coverage}}</p>
  </div>
  <div #editor></div>

  <button pButton label="Compile" class="p-button-success mt-4 mr-4" (click)="compilePythonCode()"></button>
  <button pButton label="Test" class="p-button-success mt-4 mr-4" [disabled]="!isCompiled"  (click)="testPythonCode()"></button>
  <button pButton label="Save" class="p-button-success mt-4" [disabled]="!isTested" (click)="savePythonCode()"></button>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>


