

<div class="container">

  <p-sidebar [(visible)]="sidebarVisible" position="right" styleClass="w-25rem">
    <h3>Additional information</h3>
    <div class="mt-4">
      <h5>Workflow description</h5>
      <p class="break-spaces mt-2">{{workflowDescription}}</p>
    </div>

    <div>
      <h5>Annotation scheme</h5>
      <p>{{annotationschema}}</p>
    </div>

    <div class="mt-4">
      <h5>Installed packages & their versions</h5>
      <ul *ngFor="let modul of packages">
        <li>{{modul}}</li>
      </ul>
    </div>
  </p-sidebar>

  <div class="mt-4">
    <h2>Description</h2>
    <div class="grid">
      <div class="col-6">
        <textarea class="text-area-width" rows="3" placeholder="Here you can describe what your function does. (Optional)" cols="30" pInputTextarea [(ngModel)]="labelfunctionDescription" ></textarea>
      </div>
      <div class="col-3 align-content-center">
        <button pButton class="p-button-info border-round-xl" (click)="sidebarVisible = true" icon="pi pi-info-circle"></button>
      </div>
  </div>



  <h2 class="mt-4 mb-4">Python-Editor</h2>
  <div class="grid">
    <div class="col-6">
      <div class="w-38" #imports></div>
    </div>
    <div class="col-2" >
      <button pButton label="Save Import" class="p-button-info mt-4 mr-4" (click)="saveImport()"></button>
    </div>
    <div class="col-2" >
      <app-generate-template (templateEvent)="implementTemplate($event)"></app-generate-template>
    </div>
  </div>

  <br>
  <p-messages [(value)]="errorMessage"></p-messages>
  <br>
  <div *ngIf="isTested">
    <p-table [value]="analysisModel_unlabeled.index" rowGroupMode="rowspan" [scrollable]="true" styleClass="p-datatable-sm p-datatable-striped"
             dataKey="index" scrollHeight="15rem">
      <ng-template pTemplate="caption">
        <th> Analysis </th>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            {{ 'Labelfunction' }}
          </th>
          <th>
            {{ 'Dataset' }}
          </th>
          <th>
            {{ 'Coverage' }}
          </th>
          <th>
            {{ 'Conflicts' }}
          </th>
          <th>
            {{ 'Overlaps' }}
          </th>
          <th>
            {{ 'Polarity' }}
          </th>
          <th>
            {{ 'Incorrect' }}
          </th>
          <th>
            {{ 'Correct' }}
          </th>
          <th>
            {{ 'EmpAcc' }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex">
        <tr>
          <td>{{analysisModel_unlabeled.index[i]}}</td>
          <td><p-tag severity="primary" value="Unlabeled"></p-tag></td>
          <td>{{analysisModel_unlabeled.Coverage[i] | number:'1.2-4'}}</td>
          <td>{{analysisModel_unlabeled.Conflicts[i] | number:'1.2-4'}}</td>
          <td>{{analysisModel_unlabeled.Overlaps[i] | number:'1.2-4'}}</td>
          <td colspan="4">{{analysisModel_unlabeled.Polarity[i]}}</td>
        </tr>
        <tr>
          <td></td>
          <td><p-tag severity="danger" value="Train"></p-tag></td>
          <td>{{analysisModel_train.Coverage[i] | number:'1.2-4'}}</td>
          <td>{{analysisModel_train.Conflicts[i] | number:'1.2-4'}}</td>
          <td>{{analysisModel_train.Overlaps[i] | number:'1.2-4'}}</td>
          <td>{{analysisModel_train.Polarity[i]}}</td>
          <td>{{analysisModel_train.Incorrect![i]}}</td>
          <td>{{analysisModel_train.Correct![i]}}</td>
          <td>{{analysisModel_train.EmpAcc![i] | number:'1.2-4'}}</td>
        </tr>
      </ng-template>
    </p-table>
    <br>
  </div>

  <div #editor></div>

    <div>
      <button pButton label="Test and {{isUpdate()}}" pTooltip="Your label function is tested for correct syntax and applied to the data set before saving." tooltipPosition="bottom" [disabled]="!isSaved" class="p-button-info mt-4 mr-4 mb-4" (click)="testAndSaveLabelfunction()"></button>
    </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
  <div class="mb-6">
    <a class="mb-4" href="https://www.flaticon.com/free-icons/user-guide" title="user-guide icons">User-guide icons created by Freepik - Flaticon</a>
    <br>
    <a href="https://www.flaticon.com/free-icons/template" title="template icons">Template icons created by Smashicons - Flaticon</a>
  </div>

