<div>

  <div class="float-end work-pos">

    <button pButton class="p-button-help p-button-text  mt-4 mr-4" (click)="showDialog()">
      <img alt="logo" src="assets/images/user-guide-purple.png" style="width: 3.5rem" />
    </button>
  </div>

  <p-dialog header="Tutorial: Introduction" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <p-tabView>
      <p-tabPanel header="What is a workflow ?">
        <p>
          A workflow contains everything you need for your annotation process and therefore serves as an overarching unit.
          In it, you define your <span class="font-bold">annotation task</span>, the <span class="font-bold">annotations</span> themselves,
          you assign a <span class="font-bold">data set</span> to it and write <span class="font-bold">label
          functions</span>. You create <span class="font-bold">runs</span> and assign label functions to them that are to be applied and analysed.
          You can train a <span class="font-bold">classifier</span> and <span class="font-bold">download</span> your data set annotated by the label functions.
          You can also invite other users into your workflow to work together. You can use the label
          functions of other users as you wish and benefit from the views of others.
        </p>
      </p-tabPanel>
      <p-tabPanel header="How is the workflow dashboard organised?">

        <p-button (click)="changeDashboardStatus()" icon="pi pi-angle-right" [outlined]="true" size="large"   [text]="true"  severity="help" class="button-right"></p-button>
        <div *ngIf="!dashboardStatus">
          <h5>Dashboard: User</h5>
          <div>
            <img class="dashboard z-1" src="assets/images/tutorial/dashboard-0.png" >
            <img class="dashboard z-2 relative dashbord-1 fadein" src="assets/images/tutorial/dashboard-1.png" >
            <img class="dashboard z-2 relative dashbord-2 fadein " src="assets/images/tutorial/dashboard-2.png" >
            <img class="dashboard z-2 relative dashbord-3 fadein " src="assets/images/tutorial/dashboard-3.png" >
          </div>
        </div>
        <div *ngIf="dashboardStatus">
          <h5>Dashboard: Workflow</h5>
          <div>
            <img class="dashboard-user z-1" src="assets/images/tutorial/workflow-dash-0.png" >
            <img class="dashboard-user z-2 relative dashbord-1-user fadein " src="assets/images/tutorial/workflow-dash-1.png" >
            <img class="dashboard-user z-2 relative dashbord-2-user fadein " src="assets/images/tutorial/workflow-dash-2.png" >
            <img class="dashboard-user z-2 relative dashbord-3-user fadein " src="assets/images/tutorial/workflow-dash-3.png" >

          </div>
        </div>

      </p-tabPanel>
    </p-tabView>
  </p-dialog>

</div>
