<p-button [routerLink]="['/workflow', this.workflow_id, 'run-dashboard', this.run_id, 'eval']" icon="pi pi-angle-right" [outlined]="true" size="large"   [text]="true"  severity="help" class="file-right"></p-button>


<div *ngIf="runLoaded|async" >
  <div class="grid mt-6 flex justify-content-center relative left-5rem">
    <div *ngIf="username == run.creator" >
      <p-button (onClick)="updateLabelfunktion()" label="Update Funktion" styleClass="p-button-raised p-button-secondary"></p-button>
    </div>
  </div>
</div>

<div class="grid m-4">
  <div class="col-10 col-offset-1">
    <div *ngIf="labelfunctions.length > 0">

        <app-labelfunction-list [pointer]="true" [workflow_id]="workflow_id" [selectable]="false" [modifiable]="false"></app-labelfunction-list>

    </div>
  </div>
</div>
