<div *ngIf="workflowLoaded|async">
  <div class="grid mt-4">
    <div class="col-3 col-offset-2">
      <div class="heightcard">
      <p-card header="Recent Workflows" class="height">
        <div>
          <ul class="scroll">
            <li *ngFor="let workflow of workflows">
              <a [routerLink]="['/workflow', workflow.id, 'dashboard']">{{workflow.title}}</a>
            </li>
          </ul>
        </div>
      </p-card>
      </div>
    </div>
      <div class="col-3 col-offset-2 heightcard">
        <p-card header="Create a Workflow">
          <p> Create a new workflow. You can then add everything for the annotation process to this workflow. </p>
          <p-button [routerLink]="['/workflow', 'create']" label="New Workflow" icon="pi pi-plus" styleClass="p-button-raised p-button-info"></p-button>
        </p-card>
      </div>
    </div>
  </div>



