<div *ngIf="labelfunctions.length > 0">


  <div *ngIf="elementSelected && !modifiable" class="mb-4 z-3 sticky position-background">
  <p-table [value]="analysisModel_unlabeled.index" rowGroupMode="rowspan" [scrollable]="true" styleClass="p-datatable-sm p-datatable-striped"
           dataKey="index" scrollHeight="15rem">
    <ng-template pTemplate="caption">
      <th> Analysis </th>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          {{ 'Labelfunction' }}
        </th>
        <th>
          {{ 'Dataset' }}
        </th>
        <th>
          {{ 'Coverage' }}
        </th>
        <th>
          {{ 'Conflicts' }}
        </th>
        <th>
          {{ 'Overlaps' }}
        </th>
        <th>
          {{ 'Polarity' }}
        </th>
        <th>
          {{ 'Incorrect' }}
        </th>
        <th>
          {{ 'Correct' }}
        </th>
        <th>
          {{ 'EmpAcc' }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex">
      <tr>
        <td>{{analysisModel_unlabeled.index[i]}}</td>
        <td><p-tag severity="primary" value="Unlabeled"></p-tag></td>
        <td>{{analysisModel_unlabeled.Coverage[i] | number:'1.2-4'}}</td>
        <td>{{analysisModel_unlabeled.Conflicts[i] | number:'1.2-4'}}</td>
        <td>{{analysisModel_unlabeled.Overlaps[i] | number:'1.2-4'}}</td>
        <td colspan="4">{{analysisModel_unlabeled.Polarity[i]}}</td>
      </tr>
      <tr>
        <td></td>
        <td><p-tag severity="danger" value="Train"></p-tag></td>
        <td>{{analysisModel_train.Coverage[i] | number:'1.2-4'}}</td>
        <td>{{analysisModel_train.Conflicts[i] | number:'1.2-4'}}</td>
        <td>{{analysisModel_train.Overlaps[i] | number:'1.2-4'}}</td>
        <td>{{analysisModel_train.Polarity[i]}}</td>
        <td>{{analysisModel_train.Incorrect![i]}}</td>
        <td>{{analysisModel_train.Correct![i]}}</td>
        <td>{{analysisModel_train.EmpAcc![i] | number:'1.2-4'}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>



  <div class="list" [ngClass]="{'selectable-width': !selectable, 'w-12': selectable}">
    <p-table [value]="labelfunctions" [scrollable]="true" styleClass="p-datatable-sm p-datatable-striped"
             [(selection)]="selectedLabelfunction" dataKey="id" scrollHeight="32rem" (onRowSelect)="onRowSelect()"
    (onHeaderCheckboxToggle)="onRowSelect()" (onRowUnselect)="onRowSelect()">
      <ng-template pTemplate="caption">
        <th *ngIf="selectable" style="width: 2rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th> Labelfunctions </th>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="selectable"></th>
          <th>Name</th>
          <th>Creator</th>
          <th>Description</th>
          <th [colSpan]="3" >Code</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-labelfunctions>
        <tr (click)="onSelectAnalysis(labelfunctions)" [ngClass]="{'pointer': selectable}">
          <td *ngIf="selectable">
            <p-tableCheckbox [value]="labelfunctions"></p-tableCheckbox>
          </td>
          <td>{{labelfunctions.name}}</td>
          <td>{{labelfunctions.creator}}</td>
          <td>{{labelfunctions.description}}</td>
          <td class="break-spaces">{{labelfunctions.code}}</td>
          <td *ngIf="modifiable && (labelfunctions.type != 'import') && username == labelfunctions.creator" class="button-color"><p-button  [rounded]="true" [text]="true" severity="info" icon="pi pi-file-edit" [routerLink]="['/workflow', workflow_id, labelfunctions.id, 'update-labelfunction']" class="p-button-help"></p-button></td>
          <td *ngIf="modifiable && (labelfunctions.type != 'import') && username == labelfunctions.creator"  class="button-color"><p-button  [rounded]="true" [text]="true" severity="danger" icon="pi pi-trash" (click)="deleteButton(labelfunctions.id)" class="p-button-danger"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
