.break-spaces {
  white-space: break-spaces;
}

.p-datatable .p-datatable-header {
  background-color: #f0fbff;
  border: solid 1px #f0fbff;
}

.list .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background-color: #607d8b14;
}

/*.p-button.p-button-danger {*/
/*  background-color: rgba(232, 52, 52, 0.78);*/
/*  color: black;*/
/*}*/
