<div *ngIf="fileLoaded|async">
  <div class="container mt-4">
    <app-file-upload [workflow_id]="workflow_id" [file_id]="file_names!.id" [update]="true"></app-file-upload>
    <div class="mt-8">
      <div class="grid container">
        <div class="col-6" *ngIf="file_names.id != -1">
        <p-card header="Uploaded Dataset" >
          <div>
            <ul>
              <li>
                {{file_names.name}}
              </li>
            </ul>
          </div>
        </p-card>
      </div>
        <div class="col-3 flex align-items-center justify-content-center col-offset-1">
          <button pButton type="button"
                  class="p-button-secondary w-11rem" icon="pi pi-arrow-left" [routerLink]="['/workflow', this.workflow_id, 'dashboard']" label="Return"></button>
        </div>
      </div>
    </div>
  </div>
</div>
