.p-datatable .p-datatable-header {
  background-color: #f0fbff;
  border: solid 1px #f0fbff;
}

.p-datatable.p-datatable-striped .p-datatable-tbody .stripe-2 {
  background-color: #607d8b14;
}

.p-datatable-thead tr th{
  background-color: #f0f1ff80;
}

.p-tag.p-tag-danger {
  background-color: #d32f2fc7;
  color: black;
}

.p-tag {
  background-color: #ffc107a6;
}

