<div class="container">
  <div class="flex justify-content-center mt-6">
  <app-labelfunction-list [selectable]="true" [workflow_id]="workflow_id" [modifiable]="false"
  (selectEvent)="onSelectChange($event)" ></app-labelfunction-list>
  </div>
  <div class="mt-4 float-end mr-2h">
    <button [disabled]="created" pButton pRipple label="Save" (click)="onSave()" class="p-button-info p-button-sm w-6rem"></button>
    <button pButton type="button"
            class="p-button-secondary ml-2 p-button-sm" icon="pi pi-arrow-left" [routerLink]="['/workflow', this.workflow_id, 'dashboard']" label="Return"></button>
  </div>
  <p-messages [(value)]="errorMessage"></p-messages>
  <p-toast position="bottom-center" key="bc"></p-toast>
</div>

