<div *ngIf="runLoaded|async">
  <div class="grid m-4">
    <div class="col-3 flex">
      <p class="font-semibold">Splittingratio of Test/Development-Set</p>
      <p>: {{run.splitting_ratio_labeled_test}}</p>
    </div>
    <div class="col-2">
      <p-button class="ml-4" (onClick)="executeRun()" label="execute Run" styleClass="p-button-raised p-button-success"></p-button>
    </div>
  </div>
  <div class="grid m-4">
    <div class="col-5">
      <div *ngIf="labelfunctions.length > 0">
        <div>
          <p-table [value]="labelfunctions" [scrollable]="true" styleClass="p-datatable-sm"
                   dataKey="id" scrollHeight="25rem">
            <ng-template pTemplate="caption">
              <th> Labelfunctions </th>
            </ng-template>
            <ng-template pTemplate="body" let-labelfunctions>
              <tr>
                <td>{{labelfunctions.name}}</td>
                <td>{{labelfunctions.creator}}</td>
                <td class="break-spaces">{{labelfunctions.code}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

