<div *ngIf="runLoaded|async">
  <div class="grid m-4">
    <div class="col-2">
      <p-button class="ml-4" (onClick)="executeRun()" label="Execute Run" styleClass="p-button-raised p-button-success"></p-button>
    </div>
    <div class="col-2">
      <p-button class="ml-4" (onClick)="getAnalysis()" label="Get Analysis" styleClass="p-button-raised p-button-success"></p-button>
    </div>
  </div>
  <div class="grid m-4">
    <div class="col-5">
      <div *ngIf="labelfunctions.length > 0">
        <div>
          <p-table [value]="labelfunctions" [scrollable]="true" styleClass="p-datatable-sm"
                   dataKey="id" scrollHeight="35rem">
            <ng-template pTemplate="caption">
              <th> Labelfunctions </th>
            </ng-template>
            <ng-template pTemplate="body" let-labelfunctions>
              <tr>
                <td>{{labelfunctions.name}}</td>
                <td>{{labelfunctions.creator}}</td>
                <td class="break-spaces">{{labelfunctions.code}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div *ngIf="analysisLoaded|async">
        <div>
          <p-table [value]="analysisModel_unlabeled.index" rowGroupMode="rowspan" [scrollable]="true" styleClass="p-datatable-sm"
                   dataKey="index" scrollHeight="15rem">
            <ng-template pTemplate="caption">
              <th> Analysis </th>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  {{ 'Labelfunction' }}
                </th>
                <th>
                  {{ 'Dataset' }}
                </th>
                <th>
                  {{ 'Coverage' }}
                </th>
                <th>
                  {{ 'Conflicts' }}
                </th>
                <th>
                  {{ 'Overlaps' }}
                </th>
                <th>
                  {{ 'Polarity' }}
                </th>
                <th>
                  {{ 'Incorrect' }}
                </th>
                <th>
                  {{ 'Correct' }}
                </th>
                <th>
                  {{ 'EmpAcc' }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex">
              <tr>
                <td>{{analysisModel_unlabeled.index[i]}}</td>
                <td><p-tag severity="primary" value="Unlabeled"></p-tag></td>
                <td>{{analysisModel_unlabeled.Coverage[i]}}</td>
                <td>{{analysisModel_unlabeled.Conflicts[i]}}</td>
                <td>{{analysisModel_unlabeled.Overlaps[i]}}</td>
                <td colspan="4">{{analysisModel_unlabeled.Polarity[i]}}</td>
              </tr>
              <tr>
                <td></td>
                <td><p-tag severity="danger" value="Train"></p-tag></td>
                <td>{{analysisModel_train.Coverage[i]}}</td>
                <td>{{analysisModel_train.Conflicts[i]}}</td>
                <td>{{analysisModel_train.Overlaps[i]}}</td>
                <td>{{analysisModel_train.Polarity[i]}}</td>
                <td>{{analysisModel_train.Incorrect![i]}}</td>
                <td>{{analysisModel_train.Correct![i]}}</td>
                <td>{{analysisModel_train.EmpAcc![i]}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <p-messages [(value)]="errorMessage"></p-messages>
  <p-toast position="bottom-center" key="bc"></p-toast>
  <app-model-settings [run_id]="run_id"></app-model-settings>
</div>

