.p-menubar {
  background: none;
  border: none ;
}

p-menubar div p-menubarsub ul {
  padding-left: 0;
}

.container-fluid {
  height: 3.75rem;
  background: #f0fbff !important
}

a {
  text-decoration: None;
}
