<div *ngIf="workflow_created">
  <div class="container mt-4">

    <div class="flex flex-wrap align-items-center justify-content-center float-end pos-rel">
      <div class="fadeinright animation-duration-2000 animation-iteration-1">
        <img class="image_background" src="assets/images/datensatz_beispiel.png">
      </div>
    </div>

    <h2 class="mb-4">Upload a dataset</h2>
    <div>
      <div>
        <div class="w-37rem">
          <p-card>
            <p>Upload a dataset in csv format. Make sure that the dataset has cols named : </p> <p class="font-italic">corpus_id, entity_id, text, splitting_id, class.</p>
            <p>The spltting id indicates to which training set the corresponding data point belongs.
              Please label the data points according to <b class="font-semibold">unlabeled</b>,
              <b class="font-semibold">train</b> and <b class="font-semibold">test</b>.</p>
            <p class="text-red-600">The class -1 is reserved for abstain</p>

            <div class="container mt-4">
              <app-file-upload [workflow_id]="workflow_id"></app-file-upload>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>





</div>
