<input type="file" accept="text/csv" hidden (change)="onFileUpload(fileUpload)" #fileUpload>

<!--<h2 class="mb-4">Upload a dataset</h2>-->
<!--<div class="grid container">-->
<!--  <div class="col-6">-->
<!--    <div >-->
<!--      <p-card>-->
<!--        <p>Upload a dataset in csv format. Make sure that the dataset has cols named : </p> <p class="font-italic">corpus_id, entity_id, text, splitting_id, CLASS.</p>-->
<!--        <p>The spltting id indicates to which training set the corresponding data point belongs.-->
<!--          Please label the data points according to <b class="font-semibold">unlabeled</b>,-->
<!--          <b class="font-semibold">train</b> and <b class="font-semibold">test</b>.</p>-->
<!--      </p-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-6 flex align-items-center justify-content-center">-->
    <button pButton (click)="fileUpload.click()" type="submit"
            class="p-button-help"  [label]="type" [loading]="isLoading" icon="pi pi-arrow-circle-up"></button>
<!--  </div>-->
<!--</div>-->
<p-messages [(value)]="errorMessage"></p-messages>
<p-toast position="bottom-center" key="bc"></p-toast>

