.hompage-img {
  background-image: url('../../../../assets/images/Kristallblue_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

