.hompage-img {
  background-image: url('../../../../assets/images/Kristallblue_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.dataset-text {
  position: relative;
  top: -2.5rem;
  left: 0.25rem;
}

.annotation1 {
  position: relative;
  top: -23rem;
  left: 41rem;
}

