<div class="hompage-img">
  <div>
    <h1 class="text-center text-7xl text-bluegray-50 pt-4">DataLabel</h1>
    <div class="container mt-6">
      <div class="fadeinleft animation-duration-3000 animation-iteration-1">
        <h2 class="text-white">Annotate Text Data</h2>
        <img src="assets/images/datensatz_beispiel.png" alt="Beispiel eines Datensatzes" width="35%">
        <p class="dataset-text">Extract of a sample data record with the required format.</p>
      </div>
      <div class="fadeinright animation-iteration-1 animation-duration-3000">
        <img class="annotation1" src="assets/images/homepage/Annotationsprozess_ganzeng.png"  width="50%">
      </div>
    </div>
  </div>
</div>
