.break-spaces {
  white-space: break-spaces;
}

.border-right-till-end {
  width: 18rem;
  border-right: 3px solid #5b5b72;
  height: 100vh;
  background-color: #f3f5f6;
}

.scroll {
  overflow-y: scroll;
  height: 15rem;
}

.p-panel .p-panel-header {
  background-color: #88c3d445;
  border-color: #88c3d445;
}

.p-panel .p-panel-content {
  background-color: transparent;
  border-color: transparent;
}

.link-color a:link {
  color: blue;
}

.link-color a:hover {
  color: rgba(41, 160, 169, 0.8);
}

.link-color a:visited {
  color: #40447fb8;
}

.position-div {
  float: right;
  margin-right: 7rem;
}
