
<div>
  <div class="position-div">
    <div>

      <div class="mt-4 ml-4 mb-4 align-content-center">
        <p-button [routerLink]="['/workflow', workflow_id , 'create-labelfunction']" label="New Labelfunction" icon="pi pi-plus" styleClass="p-button-raised p-button-info"></p-button>
        <p-button class="ml-4" [routerLink]="['/workflow', workflow_id , 'labelfunction-run']" label="New Run" icon="pi pi-plus" styleClass="p-button-raised p-button-info"></p-button>
        <p-button class="ml-4" [routerLink]="['/workflow', 'create', workflow_id , 'file']" label="Manage Dataset" styleClass="p-button-raised p-button-info"></p-button>
      </div>

      <app-labelfunction-list [workflow_id]="workflow_id" [modifiable]="true"></app-labelfunction-list>
    </div>
  </div>


<div class="border-right-till-end link-color">
  <p-panel header="Runs">
    <div class="scroll">
      <ul>
        <li *ngFor="let run of runs">
          <a [routerLink]="['/workflow', workflow_id, 'run-dashboard', run.id, 'data']">{{run.id}}/{{run.creation_date}}/{{run.creator}}</a>
        </li>
      </ul>
    </div>
  </p-panel>
  <div>
    <app-contributer [allowedToChange]="isCreator"></app-contributer>
  </div>
</div>
</div>




