<div>

  <div class="float-end run-pos">

    <button pButton class="p-button-help p-button-text  mt-4 mr-4" (click)="showDialog()">
      <img alt="logo" src="assets/images/user-guide-purple.png" style="width: 3.5rem" />
    </button>
  </div>

  <p-dialog header="Tutorial: Run" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw', height: '80vh' }" [draggable]="false" [resizable]="false">
    <p-tabView>
      <p-tabPanel header="What is a run?">
        <p>
          A run is a collection of label functions that are to be executed and saved together. This execution creates a matrix (data point x label function).
          Once the label functions have been executed, a further step is required. The results of the label matrix are summarised so that each data point has a single label. This data and label are then used to train a classifier.
          In the final step, the annotated data set can be downloaded.
        </p>
      </p-tabPanel>
      <p-tabPanel header="How do you evaluate the label function?">
        <div class="grid">
          <div class="col-12">
            <img class="analysis-w fadein labelfunction" src="assets/images/tutorial/analysis.png" >
          </div>
          <div class="col-4">
            <p>
              The label function is applied to two different parts of the data set,
              the non-annotated part and the part used to analyse the label functions.

              After successful application, you will receive a table with some analysis values:
            </p>
          </div>
          <div class="col-4">
            <ul>
              <li>Polarity: Number of unique labels that were returned (Abstain is not counted)</li>
              <li>Coverage: Fraction to which a label (not abstain) is assigned</li>
              <li>Overlaps: Fraction in which this and at least one other function is labelled</li>
              <li>Conflicts: Fraction where this and at least one other function do not match</li>
            </ul>
          </div>

          <div class="col-4">
            <p>
              These values are only used for the data set for the analysis,
              as the correct labels are available here:
            </p>

            <ul>
              <li>Correct: The number of data points in which is correctly labelled</li>
              <li>Incorrect: The number of data points incorrectly labelled</li>
              <li>Empirical accuracy: Fraction correctly labelled.</li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="How is the run dashboard organised?">
        <div class="container">
          <div class="flex justify-content-center">

          <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'width': '50em' }" [numVisible]="5">
            <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" style="width: 90%;" />
              </div>
            </ng-template>
          </p-galleria>
        </div>
        </div>

      </p-tabPanel>
    </p-tabView>
  </p-dialog>
</div>
