.component_position {
  position: relative;
  top: 2rem;
}

.card_width {
  width: 30rem;
}

.button_position {
  position: relative;
  top: 1rem;
}

p-messages button {
  margin-left: auto;
}

p-messages >div {
  margin-bottom: 2rem;
}

p-card >div {
  border: 0.1px solid #929292;
}

/*p-card .p-button {*/
/*  background-color: #f0fbff;*/
/*  border: #f0fbff;*/
/*}*/

/*p-card .p-button:hover  {*/
/*  background-color: #c6eaf5;*/
/*  border: #c6eaf5;*/
/*}*/
