<div class="container mt-4 mb-6">
  <h1 class="mb-6"> Create a workflow</h1>
    <form #workflowForm="ngForm" (ngSubmit)="onCreate(workflowForm)">
      <div class="grid">
        <div class="col-5 p-fluid">
              <span class="p-float-label">
                <input type="text" id="title" [disabled]="workflow_created" pInputText name="title" ngModel required>
                <label for="title">Title</label>
              </span>
        </div>
        <div class="p-fluid col-offset-1 col-5">
          <span class="p-float-label">
            <textarea id="description" [disabled]="workflow_created" name="description" rows="5" cols="30" ngModel pInputTextarea></textarea>
            <label for="description">Enter a description of the problem and the desired annotation scheme. ABSTAIN = -1 always applies to the labelfunctions. </label>
          </span>
        </div>
        <br>
<!--        <div>-->
<!--          <span class="flex align-items-center gap-1 mt-2">-->
<!--            <p-checkbox id="isPublic" [binary]="true" ngModel [disabled]="workflow_created" name="isPublic" ></p-checkbox>-->
<!--            <label style="padding-left: 0.5rem" for="isPublic">public</label>-->
<!--          </span>-->
<!--        </div>-->
      </div>
      <br>
      <button pButton class="p-button-secondary mt-2"  [disabled]="workflow_created" type="submit">Submit</button>
    </form>
  <p-messages [(value)]="errorMessage"></p-messages>
</div>
<div *ngIf="workflow_created">
  <p-divider></p-divider>
  <div class="container mt-4">
    <app-file-upload [workflow_id]="workflow_id"></app-file-upload>
    <div class="grid mt-5">
      <div class="col-2 col-offset-10">
        <button pButton type="button"
                class="p-button-secondary ml-5" [routerLink]="['/workflow', this.workflow_id, 'dashboard']" label="Finish"></button>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>

